SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=info@do-goals.ru
SMTP_PASSWORD=Do-goals2525
SMTP_FROM_EMAIL=info@do-goals.ru

BASE_API_HOST=https://do-goals.online

NEXT_PUBLIC_BASE_API_HOST=https://do-goals.online
NEXT_PUBLIC_BASE_IMAGE_URL=/blog-api/static
